<h1>New User Sign Up</h1>
<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error%></li>
    <% end %>
  </ul>
<% end %>

<form action=" <%= users_url %> " method="post">

  Username:
  <input type="text" name="user[username]" value="<%= @user.username %>">

  Password:
  <input type="password" name="user[password]" value="">

  <input type="submit" value="Sign Up">

</form>
